<!-- Car Details Page Content -->
{% extends "layout.html" %}

{% block body %}
    <h3>{{ car[1] + " " + car[2]  }}</h3>
    <p><strong>Maker:</strong> {{ car[1] }}</p>
    <p><strong>Model:</strong> {{ car[2] }}</p>
    <p><strong>Year:</strong> {{ car[5] }}</p>
    <p><strong>Price:</strong> ${{ car[6] }}</p>
    <p><strong>Description:</strong> {{ car[4] }}</p>
    <img src="{{ url_for('static', filename='images/' + car[7]) }}" alt="{{ car[2] }}" width="400">
     <img src="{{ url_for('static', filename='images/' + car[8]) }}" alt="{{ car[2] }}" width="400">
{% endblock %}