<!-- Home Page Content -->
{% extends "layout.html" %}
 
{% block body %}
    <h1>Cars
    <img src="{{ url_for('static', filename='images/matt.avif') }}" alt="Matt" width="60%">

    
    <div class="three-column-grid">
        {% for car in cars %}
            <div class="car-card">
                <h3>{{ car[1] + " " + car[2] }}</h3>
                <p><strong>Maker:</strong> {{ car[1] }}</p>
                <p><strong>Model:</strong> {{ car[2] }}</p>
               
        <img src="{{ url_for('static', filename='images/' + car[3]) }}" alt="{{ car[2] }}" width="200">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}