<!-- Home Page Content -->
{% extends "layout.html" %}
 
{% block body %}
<div class="slideshow-container">

            
  <div class="mySlides fade">
    <div class="numbertext">1 / 7</div>
    <img src="{{ url_for('static', filename='images/Bugaitt.png') }}" alt="Bugaitt" width="100%">
    <div class="text">Bugaitt Chiron (2016)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 7</div>
      <img src="{{ url_for('static', filename='images/Super Formula.png') }}" alt="Super Formula" width="100%">
    <div class="text">SF23 Super Formula / Toyota (2023)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 7</div>
    <img src="{{ url_for('static', filename='images/Porsche 911.png') }}" alt="Porsche" width="100%">
    <div class="text">Porsche 911 GT3 RS (992) (2022)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 7</div>
    <img src="{{ url_for('static', filename='images/Dodge SRT.png') }}" alt="Dodge" width="100%">
    <div class="text">Dodge SRT Tomahawk X VGT (2038)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 7</div>
      <img src="{{ url_for('static', filename='images/Ferrari GTO.png') }}" alt="Ferrari" width="100%">
    <div class="text">Ferrari 250 GTO (1962)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 7</div>
    <img src="{{ url_for('static', filename='images/Mercedes Benz.png') }}" alt="Mercedes-Benz" width="100%">
    <div class="text">Mercedes-Benz S Barker Tourer (1929)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">7 / 7</div>
    <img src="{{ url_for('static', filename='images/Racing Kart.png') }}" alt="Racing Kart" width="100%">
    <div class="text">Racing Kart 125 Shifter (2023)</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
  <span class="dot" onclick="currentSlide(7)"></span>
 <div>


  <div class="triple-col">
    <div>
      <iframe width="300" height="169" src="https://www.youtube.com/embed/1tBUsXIkG1A?si=yrgNn6va__AQZzjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   <p>Gran Turismo 7 is a premier racing simulator developed by Polyphony Digital for PlayStation. Combining realistic driving physics with stunning graphics, it features hundreds of detailed cars, dynamic weather, deep customization, and iconic tracks. Players can collect, tune, and race vehicles across offline career campaigns and competitive online modes.</p>
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/Yas Marina Circuit.png') }}" alt="Yas Marina Circuit" width="400px">
      <p>Yas Marina Circuit in Gran Turismo 7 delivers high-speed Abu Dhabi racing on the modified layout. Stripping away former chicanes, it offers longer straights, open hairpin turns, and smooth sweepers around the hotel. It's a technical track demanding precise braking, high downforce tuning, and careful throttle control under bright trackside lights.</p>
    </div>
    <div>
   <iframe width="300" height="169" src="https://www.youtube.com/embed/uD91CWCHeCA?si=67ubuVtBCEV35A1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>         
 <p>Gran Turismo 7 esports teams feature elite sim racers competing in high-stakes, official global competitions like the GT World Series. Drivers represent top automotive manufacturers or their home nations. Demanding pixel-perfect precision and strategy, these teams battle for prestige on real-world tracks in ultra-competitive, broadcasted events.</p>
          </div>
  </div>



{% endblock %}