<!-- Home Page Content -->
{% extends "layout.html" %}
 
{% block body %}
<div class="slideshow-container">

            
  <div class="mySlides fade">
    <div class="numbertext">1 / 6</div>
    <img src="{{ url_for('static', filename='images/Bugaitt.png') }}" alt="Bugaitt" width="width:100%">
    <div class="text">Bugaitt Chiron</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 6</div>
      <img src="{{ url_for('static', filename='images/Super Formula.png') }}" alt="Super Formula" width="width:100%">
    <div class="text">SF23 Super Formula / Toyota</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 6</div>
    <img src="{{ url_for('static', filename='images/Porsche 911.png') }}" alt="Porsche" width="width:100%">
    <div class="text">Porsche 911 GT3 RS (992)</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 6</div>
    <img src="{{ url_for('static', filename='images/Dodge SRT.png') }}" alt="Dodge" width="width:100%">
    <div class="text">Dodge SRT Tomahawk X VGT</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 6</div>
      <img src="{{ url_for('static', filename='images/Ferrari GTO.png') }}" alt="Ferrari" width="width:100%">
    <div class="text">Ferrari 250 GTO</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 6</div>
    <img src="{{ url_for('static', filename='images/Mercedes Benz.png') }}" alt="Mercedes-Benz" width="width:75%">
    <div class="text">Mercedes-Benz S Barker Tourer</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
 <div>




{% endblock %}