<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Google Font (replace 'Righteous' with your chosen font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fascinate&family=Train+One&display=swap" rel="stylesheet">

    <!-- W3.CSS framework -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- custom CSS (must come after W3.CSS to override it) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">


    <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="w3-container">
    <!-- Side nav -->
<div class="sidenav">
  <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('cars') }}"><i class="fa fa-fw fa-car"></i> Cars</a>
  <a href="{{ url_for('tracks') }}"><i class="fa fa-fw fa-regular fa-circle"></i> Tracks</a>
</div>

<div class="quick-links">
  <a target="_blank" href="https://www.gtplanet.net/category/gran-turismo-7/">GTplanet</a>
  <a target="_blank" href="https://www.gran-turismo.com/us/products/gt7/">gran turismo</a>
</div>

<div class="main">
    <!-- Navigation Bar -->
    <header class="site-header">
        <div class="wrap">
        <a class="logo" href="{{ url_for('home') }}">GT7</a>
        </div>
    </header>

    
    {% block heading %}<h1>{{ title }}</h1>{% endblock %}

    <!-- Content Block -->
    {% block body %}{% endblock %}

    </div>
    <!-- Link external JS file -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>